body {
  font-family: "Unbounded", serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 1.2528rem + 1.4205vw, 2.375rem);
}

.card-title {
  font-weight: 600;
  // 22 -> 26
  font-size: clamp(1.375rem, 1.1761rem + 0.5682vw, 1.625rem);
}
